<div class="jumbotron text-center text-white">
    <h1 class="display-4">Fabulapad</h1>
    <hr class="my-4">
    <div class="lead">
        <p>The world's most-loved social storytelling platform.</p>
        <p>Connect with a global community of readers and writers through the power of story.</p>
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>