<div class="card">
    <div class="card-body">
        <h1 class="text-center mt-4 card-title">Add a new category</h1>
        <%= render 'form' %>
    </div>
    <%= render 'shared/return_home_footer', obj: nil %>
</div>