<footer class="sticky-footer py-4 bg-dark text-white">
    <div class="container text-center">
        <small><%= link_to "Copyright© Wendy", "https://www.wendiciadi.com/", class:"text-white", style: "text-decoration: none;" %></small>
    </div>
</footer>